body,
html {
  width: 100%;
  height: 100%;
}
.label-core {
  display: flex;
  position: relative;
  width: 100%;
  height: calc(100% - 54px);
  background-color: #eee;
}
.label-core * {
  box-sizing: border-box;
}
.label-toolbar {
  flex-basis: 50px;
}
.label-toolbar,
.label-list {
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #dbdbdb;
}
.label-area {
  flex-grow: 1;
  overflow: hidden;
}
.label-toolbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.label-toolbar a {
  text-decoration: none;
  color: #2c3e50;
  text-align: center;
  padding: 5px;
  display: block;
}
.label-toolbar li {
  background-color: #eee;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.2s;
}
.label-toolbar li:hover {
  background-color: #bdc3c7;
}
.label-toolbar .active {
  background-color: #5c5c5c;
  color: #eee;
}
.label-toolbar .active:hover {
  background-color: #424242;
}
.label-toolbar span {
  font-size: 25px;
}
.label-toolbar .label-divider {
  border: 1px #eee solid;
  margin: 3px;
}
.label-area {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.label-main {
  position: absolute;
  z-index: 999;
  transform-origin: 0 0 0;
}
.label-main svg,
.label-main canvas,
.label-main img {
  position: absolute;
}
.label-main img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.label-main svg {
  z-index: 1000;
}
.label-popup {
  width: 300px;
  background-color: rgba(238, 238, 238, 0.8);
  padding: 10px;
  border-radius: 3px;
  top: 0;
  left: 0;
  z-index: 1999;
  position: absolute;
}
.label-popup .label-label,
.label-popup textarea {
  width: 100%;
  border: 0;
  background-color: rgb(255, 255, 255);
  color: #000;
  padding: 5px 3px;
  font-size: 15px;
  resize: none;
  margin: 0 0 5px 0;
  border-radius: 3px;
}

.label-popup .multi-label-label,
.label-popup textarea {
  width: 100%;
  border: 0;
  background-color: rgb(255, 255, 255);
  color: #000;
  padding: 5px 3px;
  font-size: 15px;
  resize: none;
  margin: 0 0 5px 0;
  border-radius: 3px;
}

.label-popup button {
  border: 0;
  background-color: rgba(231, 76, 60, 0.85);
  color: #fff;
  margin: 5px 0;
  padding: 2px 10px;
  cursor: pointer;
  border-radius: 3px;
}
.label-popup .label-save-label {
  float: right;
  background-color: rgba(41, 128, 185, 0.85);
  padding: 2px 15px;
}

.label-list {
  flex-basis: 250px;
  height: 100%;
  overflow: auto;
}
.label-list-header {
  font-size: 23px;
  border-bottom: 1px #eee solid;
  color: #4f4f4f;
  padding: 5px 4px;
  margin: 0 5px;
  font-weight: 600;
}
.label-list ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
.label-list-item {
  background-color: #eee;
  color: #4f4f4f;
  display: flex;
  padding: 5px 15px;
  margin: 5px;
  border-radius: 3px;
}
.label-list-color {
  height: 25px;
  background-color: #000;
  position: relative;
  border-radius: 30px;
  top: 10px;
  flex-basis: 25px;
  flex-shrink: 0;
}
.label-list-title {
  flex-grow: 1;
  padding: 0 0 0 10px;
}
.label-list-title h3 {
  margin: 0 0 5px 0;
}
.label-list-title p {
  margin: 0;
  font-size: 13px;
}

.label-list-right {
  flex-basis: 50px;
  flex-shrink: 0;
}
.label-list-count,
.label-list-right span {
  display: inline-block;
  position: relative;
}
.label-list-right span {
  font-size: 25px;
  top: 10px;
}
.label-list-count {
  top: 6px;
  margin-top: 5px;
  font-size: 17px;
}
.label-checkbox {
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 3px;
}

