# /server-springBoot
/server-springBoot/target/
!/server-springBoot/.mvn/wrapper/maven-wrapper.jar
!/server-springBoot/**/src/main/**
!/server-springBoot/**/src/test/**

### STS ###
/server-springBoot/.apt_generated
/server-springBoot/.classpath
/server-springBoot/.factorypath
/server-springBoot/.project
/server-springBoot/.settings
/server-springBoot/.springBeans
/server-springBoot/.sts4-cache

### IntelliJ IDEA ###
/server-springBoot/.idea
/server-springBoot/*.iws
/server-springBoot/*.iml
/server-springBoot/*.ipr

### NetBeans ###
/server-springBoot/nbproject/private/
/server-springBoot/nbbuild/
/server-springBoot/dist/
/server-springBoot/nbdist/
/server-springBoot/.nb-gradle/
/server-springBoot/build/

### log ###
/server-springBoot/log

## jar
/server-springBoot/src/main/docker/*.jar


_book/*