<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uestc.labelproject.dao.UserMapper">

    <resultMap id="BaseResultMap" type="com.uestc.labelproject.entity.SelfUserDetails">
        <id column="user_id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
    </resultMap>

    <select id="getUser" parameterType="String" resultMap="BaseResultMap">
        SELECT * FROM user
        where username = #{username}
    </select>
    <select id="getAuthoritiesById" parameterType="Long" resultType="String">
        SELECT authorities FROM user
        where user_id = #{id}
    </select>
</mapper>